@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body{
    margin: 0px;
    font-family: 'Alice', serif;
}

header{
    background: #0C184D;
    height: 190px;
    position: relative;
}

.header_image{
    right: 0%;
    width: 1800px;
    top: 0;
    position: absolute;
}

/* navbar */

.burger_menu{
    display: none;
}

.navbar{
    width: 85%;
    top: 5%;
    left: 7.5%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 75px;
}

.navbar ul{
    margin: 0px;
    height: 100%;
    list-style-type: none;
    padding: 0px;
}

.navbar ul:nth-child(1){
    width: 22%;
    margin-top: 30px;
}

.navbar ul:nth-child(1) li a img{
    width: 250px;
}

.navbar_links{
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar_links span{
    width: 100%;
}

.navbar_links span:nth-child(1){
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.navbar_links span:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_links span:nth-child(2) li{
    margin: 0 10px;
}

.navbar_links span:nth-child(2) li a{
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
}

.navbar_links span:nth-child(2) li a::before{
    content: "";
    position: absolute;
    left: 0;
    background: white;
    height: 1px;
    width: 0;
    bottom: -6px;
    transition: .3s;
}

.navbar_links span:nth-child(2) li a:hover::before{
    width: 100%;
}

.burgerButtonAnother,
.burgerButton,
.navbarButton,
.navbar_links span:nth-child(1) button{
    background: none;
    outline: none;
    padding: 5px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 17px;
    margin: 0 7px;
}

.navbar_links span:nth-child(1) label input{
    border: none;
    background: none;
    width: 87%;
    color: white;
    outline: none;
}

.navbar_links span:nth-child(1) label i{
    color: white;
    width: 10%;
    cursor: pointer;
    text-align: center;
    transform: rotate(75deg);
}

.navbar_links span:nth-child(1) label{
    width: 300px;
    border-bottom: 2px solid white; 
    display: block;
    padding-bottom: 9px;
    margin-left: 10px;
}

.activeLanguage,
.activeLang{
    background: rgba(196, 196, 196, 0.61) !important;
    padding: 9px;
}

/* appearInfo */

.appearInfo{
    position: relative;
}

.appearInfo:hover .dropOne{
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.appearInfo div{
    transform: translateY(-10px);
    position: absolute;
    padding: 6px 10px;
    bottom: -70px;
    transition: .3s;
    pointer-events: none;
    opacity: 0;
    width: 80%;
    background: rgba(196, 196, 196, 0.61);
}

.appearInfo div p{
    margin: 0px;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
    color: white;
}

.burgerButton{
    display: none !important;
}

.appearInfo div p:nth-child(1){
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.appearInfoTwo div{
    left: -10px;
    width: 140%;
}

.navbar_header li button{
    display: none;
}

.burgerButton{
    display: block;
}

/* main */

.main_container{
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
}

.drop_container,
.drop_container_alt div,
.drop_container_alt{
    display: flex;
}

.drop_container_alt span,
.drop_container span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 11px;
    width: 170px;
    cursor: pointer;
    margin-right: 25px;
    font-size: 19px;
    background: rgba(196, 196, 196, 0.61);
}

.drop_container_alt span i,
.drop_container span i{
    font-size: 20px;
}

.drop_container_alt div:nth-child(2){
    margin-left: 60px;
}

.drop_container_alt div:nth-child(2) span{
    display: flex;
    width: 20px;
    align-items: center;
    margin: 0px;
    justify-content: center;
    margin-right: 15px;
    font-size: 21px;
    cursor: pointer;
    font-weight: 500;
}

.activeDropSpan{
    color: white !important;
    background: #0C184D !important;
}

main{ 
    padding-top: 50px;
    position: relative;
}

/* info_container */

.info_container{
    width: 100%;
    margin-top: 70px;
}

.info_card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-bottom: 80px;
    border-bottom: 6px solid #E9E9E9;
}

.info_card_alt{
    border-bottom: 0px;
    margin-bottom: 30px;
}

.info_left{
    width: 25%;
}

.info_left h2{
    font-size: 70px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px;
}

.info_middle{
    width: 45%;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding-left: 45px;
    padding-bottom: 35px;
    justify-content: flex-end;
    display: flex;
}

.info_middle::before{
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    z-index: 1;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
}

.info_right_after::after{
    background: #FF0000;;
    right: -10px;
    z-index: 1;
    top: -10px;
    padding: 15px 30px;
    padding-bottom: 18px;
    font-size: 38px;
    color: white;
    position: absolute;
    content: "премьера";
}

.info_middle img{
    width: 100%;
    top: 0;
    object-fit: cover;
    left: 0;
    position: absolute;
    height: 100%;
}

.info_middle h1,
.info_middle h3{
    position: relative;
    color: white;
    z-index: 1;
    margin: 0px;
}

.info_middle h3{
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 30px;
}

.info_middle h1{
    font-size: 55px;
    font-weight: 500;
}

.info_right{
    width: 30%;
    box-sizing: border-box;
    padding-left: 40px;
}

.info_right h3{
    font-weight: 500;
    margin: 0px;
    margin-bottom: 15px;
    line-height: 20px;
    font-size: 30px;
}

.info_right h5{
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.info_right h4{
    font-weight: 500;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 23px;
}

.info_right p{
    margin: 15px 0;
    margin-bottom: 20px;
    line-height: 1.5;
}

.info_right div{
    flex-direction: column;
    display: flex;
}

.info_right div a{
    font-size: 25px;
    background:  #989898;
    color: white;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    text-decoration: none;
    height: 40px;
    padding-bottom: 5px;
    width: 180px;
    padding-left: 20px;
}

.info_right div a:nth-child(2){
    margin-bottom: 0px;
}


/* footer */


footer{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}

.footer_left{
    width: 70%;
    background: #0C184D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 50px 50px;
    padding-left: 90px;
}

.footer_left ul{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_logo{
    width: 230px;
}

.footer_inner2{
    width: 15%;
}

.footer_inner li{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.footer_inner li img{
    width: 20px;
    margin-right: 10px;
}

.footer_inner li a{
    color: white;
    line-height: 1.6;
    text-decoration: none;
}

.footer_inner3{
    width: 20%;
}

.footer_inner3 li{
    margin-bottom: 5px;
}

.footer_inner3 div{
    margin-top: 30px;
    display: flex;
}

.footer_inner3 div span{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer_inner3 div span img{
    width: 40px;
    height: 17px;
}

.footer_link_images a img{
    width: 20px !important;
    position: absolute;
}

.footer_link_images{
    width: 31px;
    position: relative;
}

.footer_link_images a:nth-child(1) img{
    left: 0 !important;
}

.footer_link_images a:nth-child(2) img{
    right: 0 !important;
}

.footer_inner4 li{
    margin-bottom: 15px;
}

.footer_inner4 li a img{
    width: 170px;
}

.footer_right{
    width: 30%;
    background: rgba(61, 85, 173, 0.49);
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer_right ul{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_right ul li{
    margin-bottom: 15px;
}

.footer_right ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #0C184D;
}

/* Адаптивка header / footer */

@media screen and (max-width: 1568px){

    .footer_inner2{
        width: 18%;
    }
}

@media screen and (max-width: 1550px){

    .navbar_links span:nth-child(2) li a{
        font-size: 17px;
    }

    .header_image{
        width: 1700px;
    }
}

@media screen and (max-width: 1475px){

    .header_image{
        width: 1650px;
    }

    .footer_inner3{
        width: 25%;
    }

    .navbar_links span:nth-child(2) li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1400px){

    .navbar{
        width: 90%;
        left: 5%;
    }

    .footer_inner li a{
        font-size: 14px;
    }
}

@media screen and (max-width: 1325px){

    .navbar_links span:nth-child(2) li a{
        font-size: 14px;
    }

    .navbar_links span:nth-child(1) button{
        font-size: 16px;
        padding: 5px 7px;
    }

    .appearInfoTwo div{
        left: -10px;
        width: 145%;
    }

    .footer_inner li a{
        font-size: 13px;
    }

    .footer_inner4 li a img{
        width: 130px;
    }

    .footer_right{
        padding-top: 45px;
    }

    .footer_right ul li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1250px){

    .header_image{
        width: 1550px;
    }

    header{
        height: 170px;
    }

    .navbar_links span:nth-child(2) li a{
        font-size: 13px;
    }

    .appearInfo div p{
        font-size: 13px;
    }

    .appearInfo div{
        bottom: -60px;
    }

    .navbar ul:nth-child(1) li a img{
        width: 210px;
    }

    .footer_left{
        padding-left: 50px;
    }
}

@media screen and (max-width: 1200px){

    .header_image{
        width: 1400px;  
    }
}

@media screen and (max-width: 1150px){

    .footer_logo{
        width: 170px;
    }

    .navbarButton,
    .navbar_links span:nth-child(1) button{
        font-size: 15px;
    }
}

@media screen and (max-width: 1132px){

    .navbar_links span:nth-child(2) li a{
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px){

    .header_image{
        width: 1300px;  
    }

    .navbar{
        top: 18%;
    }

    header{
        height: 100px;
    }

    .burger_container{
        width: 90%;
        left: 5%;
        position: relative;
        height: 90%;
        top: 5%;
    }

    .burger_content{
        height: 100%;
        width: 100%;
    }

    .burger_content img{
        width: 220px;
    }

    .burger_title{
        border-bottom: 2px solid rgb(255, 255, 255);
        height: 24%;
        width: 100%;
    }

    .burger_inside{
        width: 100%;
        height: 76%;
        overflow-y: scroll;
        display: flex;
        padding-top: 30px;
        box-sizing: border-box;
    }

    .burger_inside ul{
        margin: 0px;
        width: 50%;
        padding: 0px;
        list-style-type: none;
    }

    .burger_inside ul li{
        margin-bottom: 30px;
    }

    .burger_inside ul li a{
        color: white;
        font-size: 22px;
        position: relative;
        text-decoration: none;
    }
    
    .burger_inside ul li a::before{
        content: "";
        left: 0;
        transition: .3s;
        background: white;
        height: 2px;
        bottom: -9px;
        width: 0%;
        position: absolute;
    }

    .burger_link_one:hover span{
        height: 75px;
        margin-top: 10px;
    }

    .burger_link_one{
        display: flex;
        width: 140px;
        flex-direction: column;
    }
    
    .burger_link_one span{
        height: 0px;
        overflow: hidden;
        transition: .3s;
    }

    .burger_link_one span a{
        font-size: 16px !important;
        color: white;
    }

    .burger_inside ul li a:hover::before{
        width: 100%;
    }

    .footer_left{
        width: 100%;
    }
    
    .footer_right{
        width: 100%;
        padding-bottom: 30px;
    }
    
    .footer_right ul{
        width: 45%;
        display: flex;
        justify-content: space-around;
    }

    .navbar_links span:nth-child(2){
        display: none;
    }

    .navbar ul:nth-child(1){
        width: 22%;
        margin-top: 0px;
    }
    
    .burgerButton{
        display: block !important;
        transition: .3s;
        margin-left: 20px !important;
    }

    .burgerButton i{
        font-size: 30px;
    }

    .navbar_links span:nth-child(1){
        align-items: center;
    }

    .burger_menu.activeBurger{
        pointer-events: all;
        opacity: 1;
    }

    .burger_menu{
        position: fixed;
        left: 0;
        display: block;
        padding: 10px;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 20;
        transition: .3s;
        opacity: 0;
        pointer-events: none;
        top: 0;
        height: 100vh;
        width: 100%;
        background: rgba(12, 24, 77, 0.9);
    }

    .burger_menu p{
        color: white;
    }

    .burgerCloseBtn{
        position: absolute;
        right: 62px;
        z-index: 2;
        top: 35px;
        font-size: 40px;
        color: white;
    }

    .burger_menu.activeClose{
        pointer-events: none;
        opacity: 0;
    }
}

@media screen and (max-width: 1000px){

    .header_image{
        width: 1200px;  
    }
}

@media screen and (max-width: 920px){

    .header_image{
        width: 1050px;  
    }
}

@media screen and (max-width: 830px){
    
    .footer_inner4 li{
        text-align: left !important;
        padding-left: 20px;
    }

    .header_image{
        width: 950px;  
    }

    header{
        height: 110px !important;
    }
    
    .navbar ul:nth-child(1) li a img{
        width: 180px;
    }

    .footer_left ul{
        width: 40%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer_left ul li{
        text-align: center;
    }
    
   .footer_inner3 li{
       padding-left: 70px;
   }

   .footer_inner3 div{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .footer_left{
        padding-bottom: 20px;
    }

    .footer_right ul{
        width: 100%;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .footer_right ul li{
        width: 25%;
        text-align: center;
    }

    .footer_right{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 800px){

    .footer_inner3 li{
        padding-left: 60px;
    }
}

@media screen and (max-width: 750px){

    .header_image{
        width: 850px;  
    }

    .navbar_links span:nth-child(1) label{
        width: 250px;
    }
    
    .navbar_links span:nth-child(1) label input{
        width: 85% !important;
    }

    .footer_inner3 li{
        padding-left: 50px;
    }
}

@media screen and (max-width: 700px){

    .footer_inner3 li{
        padding-left: 40px;
    }

    .navbar_links span:nth-child(1) label{
        width: 200px;
    }

    .burgerCloseBtn{
        right: 48px;
        top: 30px;
        font-size: 40px;
    }
}

@media screen and (max-width: 670px){

    header{
        height: 95px !important;
    }

    .header_image{
        width: 800px;  
    }

    .footer_left ul{
        width: 40%;
        margin-bottom: 15px;
        text-align: center;
    }

    .navbar ul:nth-child(1) li a img{
        width: 160px;
    }

    .footer_inner3 li{
        padding-left: 30px;
    }
}

@media screen and (max-width: 600px){

    header{
        height: 100px !important;
    }

    .header_image{
        width: 750px;  
    }

    .navbar ul:nth-child(1) li a img{
        width: 140px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 580px){

    header{
        height: 180px !important;
    }

    .header_image{
        width: 700px;  
    }

    .navbar{
        top: 8%;
    }

    .navbar ul{
        width: 100%;
    }

    .navbar_links span:nth-child(1) label{
        width: 100%;
        margin-left: 0px;
        padding-bottom: 15px;
    }
    
    .navbar ul:nth-child(1) li a img{
        width: 140px;
    }

    .navbar_header{
        display: flex !important;
        width: 100% !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .navbar_header li{
        width: 50% !important; 
    }

    .navbar_header li:nth-child(2){
        display: flex !important;
        justify-content: flex-end !important;
        position: relative !important;
    }

    .navbar_header li button{
        display: block;
        padding: 0 6px;
    }

    .navbar_links span button{
        display: none;
    }

    .navbar_links span:nth-child(1) label input{
        width: 88% !important;
    }

    .burgerButtonNone{
        display: none !important;
    }

    .burgerButtonAnother{
        font-size: 27px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 570px){

    .footer_right ul li{
        width: 45%;
    }
}

@media screen and (max-width: 550px){

    .swiper-slide{
        transform: translateX(0px) !important;
    }

    .burgerCloseBtn{
        right: 40px;
        top: 28px;
        font-size: 35px;
    }

    .footer_inner3 li{
        padding-left: 10px;
    }
}

@media screen and (max-width: 500px){

    .burger_inside ul li a{
        font-size: 20px;
    }

    .burger_content img{
        width: 180px;
    }

    .burger_inside{
        flex-direction: column;
    }

    .burger_title{
        height: 22%;
        width: 100%;
    }

    .burger_inside{
        height: 78%;
    }
}

@media screen and (max-width: 480px){

    .navbar_header li button{
        font-size: 13px;
        padding: 5px 6px ;
    }

    .burgerButtonAnother{
        margin-left: 10px;
        font-size: 23px !important; 
        padding: 0px !important;
    }

    .footer_left ul{
        width: 45%;
    }
}

@media screen and (max-width: 450px){

    footer{
        margin-top: 100px;
    }

    .footer_left{
        padding: 30px;
        padding-bottom: 0px;
    }

    .footer_right{
        padding: 30px 0;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 430px){

    .footer_left ul{
        width: 100%;
        margin-bottom: 20px;
    }

    .footer_left ul li{
        text-align: left;
        margin-bottom: 15px;
    }

    .footer_inner3 li{
        padding-left: 0px;
    }
    
    .footer_inner3 div{
        justify-content: flex-start;
    }

    .footer_right ul li a{
        font-size: 15px;
    }
        
    .footer_inner4 li a img{
        width: 180px;
    }

    .footer_inner3 div span a img{
        width: 50px;
        height: 20px;
    }

    .footer_inner4 li{
        padding-left: 0px;
    }
}

@media screen and (max-width: 416px){

    .navbar_links span:nth-child(1) label input{
        width: 87% !important;
    }
}

@media screen and (max-width: 400px){

    .footer_inner4{
        width: 100%;
    }
}


/* Адаптивка main */


@media screen and (max-width: 1550px){

    .info_right_after::after{
        padding: 15px 25px;
        padding-bottom: 18px;
        font-size: 34px;
    }

    .drop_container_alt span,
    .drop_container span{
        width: 160px;
        font-size: 17px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1470px){

    .info_right h3{
        font-size: 27px;
    }

    .info_middle h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 1450px){

    .info_left{
        width: 20%;
    }

    .info_middle{
        width: 50%;
    }

    .info_left h2{
        font-size: 55px;
    }

    .info_right_after::after{
        font-size: 30px;
    }
}

@media screen and (max-width: 1340px){

    .info_left h2{
        font-size: 50px;
    }

    .info_right h3{
        font-size: 25px;
    }
}

@media screen and (max-width: 1325px){

    .info_right h3{
        font-size: 22px;
    }

    .drop_container_alt span,
    .drop_container span{
        width: 140px;
        font-size: 15px;
        padding-bottom: 10px;
    }

    .drop_container_alt div:nth-child(2) span{
        font-size: 19px;
    }

    .drop_container_alt div:nth-child(2){
        margin-left: 40px;
    }
    
    .info_right div a{
        font-size: 22px;
        height: 40px;
        width: 160px;
    }

    .info_right h5{
        font-size: 18px;
    }

    .info_right h4{
        font-size: 18px;
    }
    
    .info_right p{
        font-size: 15px;
    }

    .info_left{
        width: 100%;
        margin-bottom: 40px;
    }

    .info_middle{
        width: 60%;
    }

    .info_right{
        width: 40%;
    }
}

@media screen and (max-width: 1250px){

    .drop_container_alt span,
    .drop_container span{
        width: 130px;
        font-size: 14px;
        padding-bottom: 10px;
    }
    
    .info_right h3{
        font-size: 22px;
    }

    .info_middle h1{
        font-size: 45px;
    }

    .main_container{
        width: 90%;
    }
}

@media screen and (max-width: 1200px){

    .info_right div a{
        font-size: 20px;
        width: 150px;
    }
}

@media screen and (max-width: 1150px){

    .info_right_after::after{
        font-size: 28px;
    }
}

@media screen and (max-width: 1100px){

    header{
        height: 130px;
    }

    .info_middle{
        height: 350px;
        width: 100%;
    }

    .info_right{
        width: 100%;
        padding-top: 35px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 1000px){

    .drop_container_alt span,
    .drop_container span{
        width: 115px;
        font-size: 13px;
    }

    .drop_container_alt div:nth-child(2) span{
        font-size: 17px;
    }

    .drop_container_alt div:nth-child(2){
        margin-left: 20px;
    }
}

@media screen and (max-width: 920px){

    .drop_container_alt div:nth-child(2){
        width: 100%;
        margin: 0px;
        order: 1;
        margin-bottom: 40px;
    }

    .drop_container_alt{
        flex-wrap: wrap;
    }

    .drop_container_alt div:nth-child(1){
        order: 2;
    }

    .drop_container_alt span,
    .drop_container span{
        width: 140px;
        font-size: 15px;
    }
}

@media screen and (max-width: 850px){

    .info_middle{
        height: 320px;
        padding-left: 30px;
        padding-bottom: 25px;
    }

    .info_middle h1{
        font-size: 42px;
    }

    .info_card_alt{
        border-bottom: 0px;
        padding-bottom: 30px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 750px){

    .drop_container_alt span,
    .drop_container span{
        width: 130px;
        font-size: 14px;
    }

    .info_right div a{
        font-size: 18px;
        width: 140px;
        padding-bottom: 3px;
    }

    .info_right_after::after{
        font-size: 25px;
        padding: 8px 25px;
        padding-bottom: 13px;
    }
}

@media screen and (max-width: 650px){

    .info_middle{
        height: 295px;
    }
}

@media screen and (max-width: 570px){
    
    .drop_container_alt span,
    .drop_container span{
        width: 120px;
        font-size: 13px;
    }

    .drop_container_alt div:nth-child(2) span{
        font-size: 16px;
    }
}

@media screen and (max-width: 540px){

    .info_middle{
        height: 275px;
        padding: 20px;
    }

    .info_middle h3{
        font-size: 25px;
    }
    
    .info_middle h1{
        font-size: 40px;
    }
    
    .info_left h2{
        font-size: 45px;
    }

    .drop_container_alt span,
    .drop_container span{
        width: 120px;
        font-size: 12px;
    }

    .drop_container_alt div:nth-child(2) span{
        font-size: 15px;
    }

    .info_right_after::after{
        font-size: 22px;
        padding: 8px 20px;
        padding-bottom: 12px;
    }

    .drop_link{
        width: 70px !important;
        margin: 0px !important;
        margin-left: 20px !important;
    }
}

@media screen and (max-width: 440px){

    .drop_link{
        width: 60px !important;
        margin-left: 15px !important;
    }

    .info_left h2{
        font-size: 40px;
    }

    .info_middle h1{
        font-size: 36px;
    }
    
    .info_right_after::after{
        font-size: 20px;
        padding: 8px 16px;
        padding-bottom: 10px;
    }
    
    .drop_container_alt span:nth-child(1),
    .drop_container span:nth-child(1){
        margin-right: 0px;
    }
    
    .drop_count{
        margin-right: 15px !important;
    }
}

@media screen and (max-width: 390px){

    .drop_container_alt span,
    .drop_container span{
        width: 110px;
    }

    .info_middle h1{
        font-size: 34px;
    }
}

@media screen and (max-width: 375px){

    .drop_container_alt span,
    .drop_container span{
        width: 110px;
        font-size: 11px;
    }
}