@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body{
    margin: 0px;
    font-family: 'Alice', serif;
}

.swiper-button-next{
    left: 92% !important;
    color: black !important; 
    background: rgba(196, 196, 196, 1);
    border-radius: 10%;
    transition: .3s;
    padding: 15px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: white !important; 
    background: #0C184D;
}

.swiper-button-prev{
    left: 4% !important;
    color: black !important; 
    background: rgba(196, 196, 196, 1);
    border-radius: 10%;
    padding: 15px;
    transition: .3s;
}

.linksHover{
    transition: .3s;
}

.linksHover:hover{
    color: white !important;
    background: #0C184D !important;
}

/* header */

header{
    width: 100%;
    background: url('../img/1023766469\ 1.png') center / cover;
    position: relative;
    height: 700px;
}

header::before{
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
}

/* navbar */

.burger_menu{
    display: none;
}

.navbar{
    width: 85%;
    top: 8%;
    left: 7.5%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 75px;
}

.navbar ul{
    margin: 0px;
    height: 100%;
    list-style-type: none;
    padding: 0px;
}

.navbar ul:nth-child(1){
    width: 22%;
    margin-top: 30px;
}

.navbar ul:nth-child(1) li a img{
    width: 250px;
}

.navbar_links{
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar_links span{
    width: 100%;
}

.navbar_links span:nth-child(1){
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.navbar_links span:nth-child(1) a{
    color: black;
    margin: 0 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: white;
}

.navbar_links span:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_links span:nth-child(2) li{
    margin: 0 10px;
}

.navbar_links span:nth-child(2) li a{
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    display: block;
}

.navbar_links span:nth-child(2) li div a{
    font-size: 12px !important;
    margin-bottom: 10px;
}

.navbar_links span:nth-child(2) li a::before{
    content: "";
    position: absolute;
    left: 0;
    background: rgb(255, 255, 255);
    height: 1px;
    width: 0;
    bottom: -6px;
    transition: .3s;
}

.navbar_links span:nth-child(2) li a:hover::before{
    width: 100%;
}

.burgerButtonAnother,
.burgerButton,
.navbarButton,
.navbar_links span:nth-child(1) button{
    background: none;
    outline: none;
    padding: 5px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 17px;
    margin: 0 7px;
}

.navbar_links span:nth-child(1) label input{
    border: none;
    background: none;
    width: 87%;
    color: white;
    outline: none;
}

.navbar_links span:nth-child(1) label i{
    color: white;
    width: 10%;
    cursor: pointer;
    text-align: center;
    transform: rotate(75deg);
}

.navbar_links span:nth-child(1) label{
    width: 300px;
    border-bottom: 2px solid white; 
    display: block;
    padding-bottom: 9px;
    margin-left: 10px;
    margin-right: 20px;
}

.activeLanguage,
.activeLang{
    background: rgba(196, 196, 196, 0.61) !important;
    padding: 9px;
}

/* appearInfo */

.appearInfo{
    position: relative;
}

.appearInfo:hover .dropOne{
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.appearInfo div{
    transform: translateY(-10px);
    position: absolute;
    padding: 6px 10px;
    bottom: -70px;
    transition: .3s;
    pointer-events: none;
    opacity: 0;
    width: 80%;
    background: rgba(196, 196, 196, 0.61);
}

.appearInfo div p{
    margin: 0px;
    font-size: 12px;
    margin-bottom: 4px;
    cursor: pointer;
    color: white;
}

.burgerButton{
    display: none !important;
}

.appearInfo div p:nth-child(1){
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.appearInfoHistory div{
    bottom: -960%;
    width: 260%;
    left: -90%;
}

.appearInfoRep div{
    bottom: -530%;
    width: 130%;
    left: -25%;
}

.appearInfoGroup div{
    bottom: -660%;
    width: 130%;
    left: -25%;
}

.appearInfoTicket div{
    bottom: -1200%;
    width: 110%;
    left: -10%;
}

.appearInfoMuseum div{
    bottom: -550%;
    width: 230%;
    left: -70%;
}

.appearInfoTheatre div{
    bottom: -600%;
    width: 150%;
    left: -40%;
}

.appearInfoEducation div{
    bottom: -620%;
    width: 150%;
    left: -30%;
}

/* header_title */

.header_title{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60%;
    left: 20%;
}

.header_title h2{
    color: white;
    font-weight: 500;
    margin: 0px;
    font-size: 80px;
    margin-bottom: 20px;
}

.header_title a{
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-decoration: none;
    position: relative;
}

.header_title a::before{
    content: "";
    background: white;
    left: -3%;
    bottom: -13px;
    height: 2px;
    width: 106%;
    position: absolute;
}

/* main */

main{
    padding-top: 50px;
    position: relative;
}

/* main_title */

.main_title{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
}

.main_title span{
    font-size: 45px;
    color: black;
    width: 350px;
    position: relative;
}

.main_title_link{
    color:black !important;
    background: rgba(196, 196, 196, 0.61) !important;
}

.main_title a{
    background: rgba(196, 196, 196, 0.61);
    width: 150px;
    text-decoration: none;
    font-weight: 500;
    z-index: 2;
    color: rgb(0, 0, 0);
    padding: 7px 15px;
    margin-top: 30px;
}

.main_title span::before{
    content: "";
    background: #000;
    bottom: -8px;
    height: 2px;
    width: 100%;
    position: absolute;
}

.main_title_span::before{
    width: 230px !important;
}

.main_picture{
    position: absolute;
    width: 1700px;
    right: 0;
    top: 0;
}

/* main_banner */

.main_banner{
    width: 90%;
    background: url('../img/DSC_6947\ 1.png') center / cover;
    height: 500px;
    margin: 70px auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: relative;
    object-fit: cover;
}

.main_banner::before{
    background: rgba(0, 0, 0, 0.2);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}

.main_banner h2{
    color: white;
    z-index: 1;
    font-weight: 500;
    font-size: 85px;
    margin: 0px;
    margin-bottom: 30px;
}

.main_banner a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    position: relative;
}

.main_banner a::before{
    content: "";
    background: white;
    left: -3%;
    bottom: -13px;
    height: 2px;
    width: 106%;
    position: absolute;
}

/* theatre_block */

.theatre_block{
    width: 100%;
    height: 570px;
    position: relative;
    margin: 150px 0;
}

.theatre_block_content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    background: rgba(29, 45, 110, 0.9);
}

.theatre_block_image{
    top: -25%;
    right: 0;
    position: absolute;
    width: 1800px;
}

.burgerButton{
    display: block !;
}

.theatre_block_content_inside{
    width: 90%;
    position: relative;
    height: 100%;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 40px 0;
    box-sizing: border-box;
}

.theatre_block_content_inside_left{
    width: 60%;
    background: url('../img/scale_1200\ 1.png') center / cover;
    height: 100%;
}

.theatre_block_content_inside_right{
    width: 40%;
    box-sizing: border-box;
    padding: 25px 0;
    padding-left: 70px;
}

.theatre_block_content_inside_right h2{
    font-size: 80px;
    font-weight: 500;
    margin: 0px;
    color: white;
    margin-bottom: 30px;
}

.theatre_block_content_inside_right p{
    color: white;
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.theatre_block_content_inside_right a{
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 35px;
}

.theatre_block_content_inside_right a::before{
    content: "";
    bottom: -20px;
    left: 0;
    background: white;
    height: 3px;
    width: 100%;
    position: absolute;
}

/* pieces_block */

.pieces_block{
    width: 100%;
    height: 650px;
    margin-top: 140px;
    position: relative;
}

.swiper-container{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    transform: translateX(-150px);
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* piece_card */

.piece_card{
    width: 100%;
    height: 100%;
    position: relative;
}

.piece_card_header{
    position: absolute;
    height: 75%;
    left: 0;
    top: 0;
    transition: .3s;
    width: 100%;
}

.piece_card_header_one{
    background: url('../img/10\ \(1\).png') center / cover;
}

.piece_card_header_two{
    background: url('../img/URY_8087\ \(3\)\ 1.png') center / cover;
}

.piece_card_header_three{
    background: url('../img/10\ \(1\).png') center / cover;
}

.piece_card_header_four{
    background: url('../img/14\ \(2\).png') center / cover;
}

.piece_card_header_five{
    background: url('../img/URY_8409\ \(1\)\ 1.png') center / cover;
}

.navbar_header li button{
    display: none;
}

.piece_card_content{
    position: absolute;
    height: 25%;
    width: 100%;
    left: 0;
    bottom: 0;
}

.piece_card_header div{
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.piece_card_header div::before{
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
}

.piece_card_header div h4{
    margin: 0px;
    color: white;
    text-align: left;
    position: relative;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
}

.piece_card_header div h2{
    color: white;
    margin: 0px;
    text-align: left;
    font-weight: 500;
    font-size: 50px;
    position: relative;
}

.piece_card_content{
    box-sizing: border-box;
    padding: 25px;
    text-align: left;
}

.piece_card_content p{
    margin: 0px;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 25px;
}

.piece_card_content a{
    color: black;
    transition: .3s;
    padding: 5px 10px;
    text-decoration: none;
    background: rgba(196, 196, 196, 0.61);
}

.piece_card:hover .piece_card_content a{
    color: white;
    background: #0C184D;
}

.piece_card:hover .piece_card_header{
    height: 80%;
    width: 108%;
    left: -4%;
    z-index: 1;
    top: -5%;
}

/* people_block */

.people_block{
    width: 100%;
    height: 680px;
    margin-top: 140px;
    position: relative;
}

.people_block_image_one{
    background: url('../img/2400x1950_940620_[www.ArtFile\ 1.png') center / cover;
}

.people_block_image_two{
    background: url('../img/s1200-2-5\ 1.png') center / cover;
}

.people_block_image_three{
    background: url('../img/bradley-cooper-bredli-kuper-3661\ 1.png') center / cover;
}

.people_block_image_four{
    background: url('../img/freepressjournal_import_2017_10_Tom-Cruise.jpg') center / cover;
}

/* ticket_block */

.ticket_block{
    width: 100%;
    background: #0C184D;
    margin-top: 200px;
    height: 350px;
    position: relative;
    display: block;
    text-decoration: none;
    margin-bottom: 70px;
}

.ticket_image_one{
    position: absolute;
    width: 1800px;
    right: 0;
    bottom: 0;
}

.ticket_image_two{
    position: absolute;
    bottom: -80% ;
    right: 0;
    width: 1000px;
}

.ticket_content{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.ticket_content span{
    color: white;
    font-size: 70px;
    width: 60%;
    display: block;
    position: relative;
}

.ticket_content span::before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -15px;
    left: 0;
    background: white;
    height: 2px;
}

.ticket_content p{
    margin-top: 40px;
    color: white;
    font-size: 22px;
    line-height: 1.6;
    width: 40%;
}

/* places_block */

.places_block{
    width: 100%;
    height: 350px;
    margin-top: 70px;
    position: relative;
}

.places_card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}

.places_card::before{
    content: "";
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    position: absolute;
}

.places_card_one{
    background: url('../img/DSC_7047\ 1.png') center / cover;
}

.places_card_two{
    background: url('../img/DSC_6954\ 1.png') center / cover;
}

.places_card_three{
    background: url('../img/scale_1200\ 2.png') center / cover;
}

.places_card_four{
    background: url('../img/a-cup-of-coffee-and-two-gifts-wrapped-in-blue-and-black-wrapping-paper-on-a-red-background\ 1.png') center / cover;
}

.places_card_five{
    background: url('../img/DSC_7021\ 1.png') center / cover;
}

.places_card_six{
    background: url('../img/DSC_6995\ 1.png') center / cover;
}

.places_card div{
    position: absolute;
    bottom: 50px;
    z-index: 1;
    width: 75%;
    left: 12.5%;
    text-align: left;
}

.places_card div span{
    color: white;
    font-size: 25px;
    position: relative;
}

.places_card div span::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 3px;
    background: white;
    bottom: -15px;
    left: 0;
}

.places_card:hover{
    transform: scale(1.1);
}


/* footer */


footer{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
}

.footer_left{
    width: 70%;
    background: #0C184D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 50px 50px;
    padding-left: 90px;
}

.footer_inner3 li a{
    font-size: 12px !important;
    text-align: left;
}

.footer_inner3 li i{
    color: white;
    background: black;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 0x;
    padding: 3px;
    border-radius: 50%;
}

.footer_left ul{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_logo{
    width: 230px;
}

.footer_inner2{
    width: 15%;
}

.footer_inner li{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.footer_inner li img{
    width: 20px;
    margin-right: 10px;
}

.footer_inner li a{
    color: white;
    line-height: 1.6;
    text-decoration: none;
}

.footer_inner3{
    width: 20%;
}

.footer_inner3 li{
    margin-bottom: 5px;
}

.footer_inner3 div{
    margin-top: 30px;
    display: flex;
}

.footer_inner3 div span{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer_inner3 div span img{
    width: 40px;
    height: 17px;
}

.footer_link_images a img{
    width: 20px !important;
    position: absolute;
}

.footer_link_images{
    width: 31px;
    position: relative;
}

.footer_link_images a:nth-child(1) img{
    left: 0 !important;
}

.footer_link_images a:nth-child(2) img{
    right: 0 !important;
}

.footer_inner4 li{
    margin-bottom: 15px;
}

.footer_inner4 li a img{
    width: 170px;
}

.footer_right{
    width: 30%;
    background: rgba(61, 85, 173, 0.49);
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer_right ul{
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_right ul li{
    margin-bottom: 15px;
}

.footer_right ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #0C184D;
}


/* Адаптивка */


@media screen and (max-width: 1685px){

    .piece_card_content a{
        padding-bottom: 7px;
    }
    
    .pieces_block{
        height: 680px;
    }
    
    .main_picture{
        width: 1600px;
    }
    
    .theatre_block_content_inside_right{
        padding-top: 0px;
    }

    .ticket_content span{
        font-size: 65px;
    }

    .ticket_image_one{
        width: 1600px;
    }
    
    .ticket_image_two{
        bottom: -60%;
        width: 900px;
    }
}

@media screen and (max-width: 1568px){

    .footer_inner2{
        width: 18%;
    }

    .ticket_content span{
        font-size: 60px;
    }

    .ticket_image_one{
        width: 1500px;
    }

    .theatre_block_image{
        top: -20%;
        right: 0;
        width: 1700px;
    }

    .piece_card_header div h2{
        font-size: 45px;
    }

    .main_picture{
        width: 1500px;
    }

    .pieces_block,
    .people_block{
        height: 620px;
    }

    .piece_card_header{
        height: 70%;
    }

    .piece_card_content{
        height: 30%;
    }

    .piece_card:hover .piece_card_header{
        top: -10%;
    }
}

@media screen and (max-width: 1550px){

    .navbar_links span:nth-child(2) li a{
        font-size: 17px;
    }
}

@media screen and (max-width: 1530px){

    .people_block{
        height: 660px;
    }
}

@media screen and (max-width: 1475px){

    .footer_inner3{
        width: 25%;
    }

    .theatre_block_content_inside_right h2{
        font-size: 70px;
        margin-top: 15px;
    }

    .main_picture{
        width: 1400px;
    }

    .navbar_links span:nth-child(2) li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1450px){

    .theatre_block_image{
        width: 1600px;
    }

    .ticket_content span{
        font-size: 50px;
    }
}

@media screen and (max-width: 1432px){

    .piece_card_header div h4{
        font-size: 25px;
    }

    .theatre_block{
        margin-bottom: 100px;
    }

    header{
        height: 650px;
    }

    .header_title{
        top: 46%;
    }

    .ticket_image_two{
        width: 850px;
    }
}

@media screen and (max-width: 1400px){

    .appearInfoEducation div{
        bottom: -610%;
    }

    .navbar{
        width: 90%;
        top: 8%;
        left: 5%;
    }

    .footer_inner li a{
        font-size: 14px;
    }

    .ticket_block{
        height: 300px;
        margin-top: 170px;
    }

    .piece_card_header div h2{
        font-size: 40px;
    }

    .main_banner h2{
        font-size: 75px;
    }

    .people_block{
        height: 610px;
    }

    .piece_card_header{
        height: 65%;
    }

    .piece_card_content{
        height: 35%;
    }

    .piece_card:hover .piece_card_header{
        height: 75%;
        top: -10%;
    }

    .main_picture{
        width: 1350px;
    }

    .ticket_image_two{
        top: -65%;
        width: 850px;
    }

    .theatre_block_content_inside_right p{
        font-size: 18px;
    }

    .pieces_block{
        height: 560px;
    }

    .main_banner{
        height: 430px;
        margin: 90px auto;
    }

    .theatre_block_content_inside_right h2{
        font-size: 55px;
        margin: 0px;
        margin-top: 10px;
    }

    .theatre_block_content_inside_right p{
        font-size: 15px;
        margin-bottom: 20px;
    }

    .theatre_block{
        height: 450px;
    }

    .theatre_block_image{
        width: 1400px;
    }

    .theatre_block_content_inside_right{
        padding-left: 40px;
    }

    .main_banner h2{
        font-size: 65px;
    }
}

@media screen and (max-width: 1325px){

    .appearInfoHistory div{
        bottom: -1160%;
    }
    
    .appearInfoRep div{
        bottom: -640%;
    }
    
    .appearInfoGroup div{
        bottom: -800%;
    }
    
    .appearInfoTicket div{
        bottom: -1430%;
    }
    
    .appearInfoMuseum div{
        bottom: -750%;
    }
    
    .appearInfoTheatre div{
        bottom: -730%;
    }
    
    .appearInfoEducation div{
        bottom: -720%;
    }

    .navbar_links span:nth-child(2) li a{
        font-size: 14px;
    }

    .navbar_links span:nth-child(1) button{
        font-size: 16px;
        padding: 5px 7px;
    }

    .appearInfoTwo div{
        left: -10px;
        width: 145%;
    }

    .header_title h2{
        font-size: 65px;
    }

    .header_title{
        top: 50%;
    }

    .main_picture{
        width: 1280px;
    }

    .main_title span{
        font-size: 35px;
    }

    .footer_inner li a{
        font-size: 13px;
    }

    .footer_inner4 li a img{
        width: 130px;
    }

    .footer_right{
        padding-top: 45px;
    }

    .footer_right ul li a{
        font-size: 16px;
    }

    .places_block{
        height: 300px;
    }

    .ticket_image_two{
        top: -55%;
        width: 750px;
    }

    .ticket_image_one{
        width: 1300px;
    }

    .ticket_block{
        height: 270px;
        margin-top: 170px;
    }

    .ticket_content p{
        font-size: 19px;
    }

    .people_block{
        height: 600px;
        margin-top: 90px;
    }

    .theatre_block_content_inside_right a{
        font-size: 30px;
    }

    .navbar{
        top: 5%;
    }

    header{
        height: 550px;
    }

    .piece_card_header div h2{
        font-size: 35px;
    }

    .piece_card_header div h4{
        font-size: 21px;
    }
}

@media screen and (max-width: 1275px){

    .places_card div span{
        font-size: 20px;
    }

    .main_title span{
        font-size: 32px;
    }

    .piece_card_content p{
        font-size: 13px;
        line-height: 1.4;
    }

    .piece_card_content{
        padding: 15px;
    }

    .main_banner h2{
        font-size: 60px;
    }

    .main_banner{
        height: 400px;
    }

    .theatre_block_content_inside_right a{
        font-size: 27px;
    }

    .theatre_block_content_inside_right p{
        font-size: 14px;
    }

    .theatre_block_content_inside_right h2{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .ticket_content p{
        font-size: 17px;
    }

    .ticket_block{
        margin-top: 100px;
    }
}

@media screen and (max-width: 1250px){

    .appearInfoHistory div{
        bottom: -1340% !important;
    }
    
    .appearInfoRep div{
        bottom: -720% !important;
    }
    
    .appearInfoGroup div{
        bottom: -860% !important;
    }
    
    .appearInfoTicket div{
        bottom: -1520% !important;
    }
    
    .appearInfoTheatre div,
    .appearInfoMuseum div{
        bottom: -780% !important;
    }
    
    .appearInfoEducation div{
        bottom: -800% !important;
    }

    .ticket_content span{
        font-size: 45px;
    }

    .theatre_block_content_inside_right h2{
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .pieces_block{
        margin-top: 100px;
    }

    .navbar_links span:nth-child(2) li a{
        font-size: 13px;
    }

    .appearInfo div p{
        font-size: 13px;
    }

    .appearInfo div{
        bottom: -60px;
    }

    .navbar ul:nth-child(1) li a img{
        width: 210px;
    }

    .main_picture{
        width: 1200px;
    }

    .main_banner{
        height: 370px;
    }

    .footer_left{
        padding-left: 50px;
    }
}

@media screen and (max-width: 1200px){

    .ticket_image_two{
        width: 700px;
    }

    .ticket_block{
        margin-top: 150px;
    }

    header{
        height: 520px;
    }

    .header_title h2{
        font-size: 60px;
    }

    .header_title a{
        font-size: 25px;
    }
}

@media screen and (max-width: 1150px){

    .main_picture{
        width: 1100px;
    }

    .main_banner{
        height: 340px;
    }

    .main_banner h2{
        font-size: 55px;
        margin-bottom: 20px;
    }

    .main_banner a{
        font-size: 25px;
    }

    .ticket_image_two{
        width: 650px;
        top: -60%;
    }

    .ticket_image_one{
        width: 1200px;
    }

    .ticket_block{
        height: 240px;
    }

    .footer_logo{
        width: 170px;
    }

    .people_block{
        height: 550px;
    }

    .navbarButton,
    .navbar_links span:nth-child(1) button{
        font-size: 15px;
    }
}

@media screen and (max-width: 1132px){

    .navbar_links span:nth-child(2) li a{
        font-size: 12px;
    }
    
    .main_banner{
        margin-top: 50px;
    }

    .ticket_content span{
        font-size: 40px;
    }

    .main_picture{
        width: 1050px;
    }

    .header_title h2{
        font-size: 55px;
    }
}

@media screen and (max-width: 1100px){
    
    .swiper-button-next{
        left: 90% !important;
    }
    
    .navbar_links span:nth-child(1) a{
        display: none;
    }

    .burger_container{
        width: 90%;
        left: 5%;
        position: relative;
        height: 90%;
        top: 5%;
    }

    .burger_content{
        height: 100%;
        width: 100%;
    }

    .burger_content img{
        width: 220px;
    }

    .burger_title{
        border-bottom: 2px solid rgb(255, 255, 255);
        height: 24%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger_title span{
        display: flex;
        margin-right: 100px;
    }

    .burger_title span a{
        color: black;
        text-decoration: none;
        background: white;
        display: flex;
        margin: 0 5px;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 5px;
    }

    .burger_inside{
        width: 100%;
        height: 76%;
        overflow-y: scroll;
        display: flex;
        padding-top: 30px;
        box-sizing: border-box;
    }

    .burger_inside ul{
        margin: 0px;
        width: 50%;
        padding: 0px;
        list-style-type: none;
    }

    .burger_inside ul li{
        margin-bottom: 30px;
    }

    .burger_inside ul li a{
        color: white;
        font-size: 22px;
        position: relative;
        text-decoration: none;
    }
    
    .burger_inside ul li a::before{
        content: "";
        left: 0;
        transition: .3s;
        background: white;
        height: 2px;
        bottom: -9px;
        width: 0%;
        position: absolute;
    }

    .burger_link_one:hover span{
        height: 270px;
        margin-top: 10px;
    }

    .burger_link_two:hover span{
        height: 210px;
    }

    .burger_link_three:hover span{
        height: 87px;
    }

    .burger_link_five:hover span{
        height: 105px;
    }

    .burger_link_six:hover span{
        height: 130px;
    }

    .burger_link_one{
        display: flex;
        width: 140px;
        flex-direction: column;
    }
    
    .burger_link_one span{
        height: 0px;
        overflow: hidden;
        transition: .3s;
    }

    .burger_link_one span a{
        font-size: 16px !important;
        color: white;
    }

    .burger_inside ul li a:hover::before{
        width: 100%;
    }

    .theatre_block_content_inside_right p{
        font-size: 13px;
    }

    .theatre_block_content_inside_right h2{
        margin-top: 20px;
    }
    
    .theatre_block_image{
        width: 1300px;
    }

    .piece_card_header div h2{
        font-size: 32px;
    }

    .footer_left{
        width: 100%;
    }
    
    .footer_right{
        width: 100%;
        padding-bottom: 30px;
    }
    
    .footer_right ul{
        width: 45%;
        display: flex;
        justify-content: space-around;
    }

    header{
        height: 500px;
    }
    
    .navbar_links span:nth-child(2){
        display: none;
    }

    .navbar ul:nth-child(1){
        width: 22%;
        margin-top: 0px;
    }
    
    .burgerButton{
        display: block !important;
        transition: .3s;
        margin-left: 20px !important;
    }

    .burgerButton i{
        font-size: 30px;
    }

    .navbar_links span:nth-child(1){
        align-items: center;
    }

    .burger_menu.activeBurger{
        pointer-events: all;
        opacity: 1;
    }

    .burger_menu{
        position: fixed;
        left: 0;
        display: block;
        padding: 10px;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 20;
        transition: .3s;
        opacity: 0;
        pointer-events: none;
        top: 0;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
    }

    .burger_menu p{
        color: white;
    }

    .burgerCloseBtn{
        position: absolute;
        right: 62px;
        z-index: 2;
        top: 35px;
        font-size: 40px;
        color: white;
    }

    .burger_menu.activeClose{
        pointer-events: none;
        opacity: 0;
    }

    .ticket_image_one{
        width: 1100px;
    }
}

@media screen and (max-width: 1000px){

    .ticket_image_one{
        width: 1000px;
    }

    .ticket_image_two{
        width: 600px;
        top: -55%;
    }

    .ticket_content span{
        font-size: 37px;
    }

    .main_banner{
        height: 300px;
    }

    .main_banner h2{
        font-size: 49px;
        margin-bottom: 20px;
    }

    .main_picture{
        width: 950px;
    }

    .theatre_block_content_inside_left{
        width: 100%;
        height: 300px;
    }
    
    .theatre_block_content_inside_right{
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .theatre_block{
        height: 680px;
    }

    .theatre_block_content_inside_right p{
        font-size: 14px;
    }

    .theatre_block_content_inside_right a::before{
        width: 16%;
    }

    .theatre_block_image{
        width: 1700px;
        top: -10%;
    }

    .theatre_block_content_inside_right h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 950px){
    
    .ticket_image_one{
        width: 900px;
    }

    .ticket_image_two{
        width: 550px;
        top: -50%;
    }

    .ticket_content,
    .theatre_block_content_inside,
    .main_banner,
    .main_title{
        width: 90%;
    }

    .piece_card_header div{
        padding: 20px;
    }

    .main_picture{
        width: 850px;
    }

    header{
        height: 480px;
    }
}

@media screen and (max-width: 870px){

    .swiper-button-next{
        font-size: 10px !important;
        left: 87% !important;
    }

    .swiper-button-next,
    .swiper-button-prev{
        padding: 10px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after{
        font-size: 35px !important;
    }

    .ticket_content span{
        font-size: 34px;
    }

    .main_title span{
        font-size: 27px;
    }

    .places_block{
        height: 270px;
    }

    .places_card div span{
        font-size: 18px;
    }

    .places_card div{
        bottom: 40px;
    }

    .piece_card_header div h2{
        font-size: 29px;
    }

    .ticket_block{
        height: 200px;
    }

    .ticket_content span{
        font-size: 30px;
    }

    .ticket_content p{
        font-size: 14px;
        margin-top: 30px;
    }

    .ticket_image_one{
        width: 850px;
    }

    .ticket_image_two{
        width: 500px;
        top: -50%;
    }

    .header_title h2{
        font-size: 50px;
    }
    
    .header_title a{
        font-size: 22px;
    }

    .main_banner{
        height: 280px;
    }

    .main_banner h2{
        font-size: 45px;
    }

    .main_banner a{
        font-size: 23px;
    }

    .pieces_block,
    .people_block{
        height: 500px;
    }

    header{
        height: 460px;
    }

    .theatre_block_content_inside_right h2{
        font-size: 45px;
        margin-top: 0px;
    }

    .theatre_block{
        height: 620px;
    }

    .theatre_block_content_inside_right a{
        font-size: 24px;
    }

    .theatre_block_content_inside_left{
        height: 270px;
    }

    .theatre_block_image{
        width: 1500px;
        top: -10%;
    }
}

@media screen and (max-width: 830px){

    .main_picture{
        width: 800px;
    }

    .navbar ul:nth-child(1) li a img{
        width: 180px;
    }

    .piece_card_content a{
        font-size: 15px;
    }

    .main_banner{
        height: 270px;
    }

    .main_banner h2{
        font-size: 42px;
    }

    .footer_left ul{
        width: 40%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer_left ul li{
        text-align: center;
    }
    
   .footer_inner3 li{
       padding-left: 70px;
   }

   .footer_inner3 div{
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .footer_left{
        padding-bottom: 20px;
    }

    .footer_right ul{
        width: 100%;
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .footer_right ul li{
        width: 25%;
        text-align: center;
    }

    .footer_right{
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 800px){

    .main_banner{
        background: url('../img/DSC_6947\ 1-min.png') center / cover;
    }

    header{
        background: url('../img/1023766469\ 1-min.png') center / cover;
    }

    .theatre_block_content_inside_right a::before{
        width: 17%;
    }

    .footer_inner3 li{
        padding-left: 60px;
    }

    .main_picture{
        width: 770px;
    }

    .pieces_block{
        margin-top: 70px;
    }

    .ticket_image_one{
        width: 750px;
    }

    .ticket_image_two{
        width: 470px;
        top: -50%;
    }

    .ticket_block{
        height: 180px;
        margin-top: 100px;
    }

    .main_banner{
        margin-top: 30px;
        margin-bottom: 60px;
    }
    
    .theatre_block{
        margin-top: 120px;
    }

    .piece_card_header div h2{
        font-size: 32px;
    }

    .theatre_block_content_inside_right h2{
        margin-bottom: 0px;
    }

    .header_title h2{
        font-size: 45px;
    }
        
    .header_title a{
        font-size: 20px;
    }

    header{
        height: 430px;
    }

    .pieces_block,
    .people_block{
        height: 460px;
    }

    .ticket_content p{
        font-size: 13px;
    }
}

@media screen and (max-width: 750px){

    .theatre_block_content_inside_right a::before{
        width: 18%;
    }

    .theatre_block_content_inside_left{
        height: 270px;
    }

    .navbar_links span:nth-child(1) label{
        width: 250px;
    }
    
    .navbar_links span:nth-child(1) label input{
        width: 85% !important;
    }

    .main_picture{
        width: 750px;
    }

    .footer_inner3 li{
        padding-left: 50px;
    }
}

@media screen and (max-width: 700px){

    .theatre_block_content_inside_right a::before{
        width: 19%;
    }

    .footer_inner3 li{
        padding-left: 40px;
    }

    .ticket_content span{
        font-size: 27px;
    }

    .ticket_image_one{
        width: 670px;
    }

    .ticket_image_two{
        width: 430px;
        top: -50%;
    }

    .main_picture{
        width: 650px;
    }

    .navbar_links span:nth-child(1) label{
        width: 200px;
    }

    .main_title span{
        font-size: 25px;
    }

    .burgerCloseBtn{
        right: 48px;
        top: 30px;
        font-size: 40px;
    }

    .theatre_block_content_inside_left{
        height: 250px;
    }
}

@media screen and (max-width: 670px){

    .header_title h2{
        font-size: 40px;
    }
        
    .header_title a{
        font-size: 18px;
    }

    .main_picture{
        width: 620px;
    }
    
    .main_banner{
        height: 230px;
    }

    .main_banner h2{
        font-size: 37px;
        margin-bottom: 15px;
    }

    .main_banner a{
        font-size: 19px;
    }

    .piece_card_header div h2{
        font-size: 30px;
    }

    .ticket_block{
        height: 160px;
        overflow: hidden;
        margin-top: 50px;
    }

    .ticket_image_one{
        width: 650px;
    }

    .ticket_image_two{
        display: none;
    }

    .ticket_content p,
    .ticket_content span{
        width: 100%;
    }

    .footer_left ul{
        width: 40%;
        margin-bottom: 15px;
        text-align: center;
    }

    .theatre_block_content_inside_right a::before{
        width: 21%;
    }

    .navbar ul:nth-child(1) li a img{
        width: 160px;
    }
    
    .theatre_block_content_inside_left{
        height: 230px;
    }

    .footer_inner3 li{
        padding-left: 30px;
    }
}

@media screen and (max-width: 640px){

    .ticket_image_one{
        width: 550px;
    }

    .ticket_image_two{
        width: 350px;
        top: -45%;
    }

    .ticket_content span{
        font-size: 27px;
        width: 55%;
    }

    .theatre_block{
        height: 570px;
    }
}

@media screen and (max-width: 600px){

    .navbar ul:nth-child(1) li a img{
        width: 140px;
        margin-top: 10px;
    }

    .places_block{
        height: 250px;
    }

    .places_card div span{
        font-size: 17px;
    }

    .main_title span{
        font-size: 25px;
    }

    .ticket_content p{
        font-size: 13px;
    }

    .theatre_block_image{
        width: 1350px;
    }

    .theatre_block{
        margin: 70px 0;
        margin-top: 100px;
    }

    .theatre_block_content_inside_right a::before{
        width: 22%;
    }
}

@media screen and (max-width: 580px){

    .theatre_block_content_inside_right a::before{
        width: 23%;
    }

    .header_title h2{
        font-size: 37px;
    }
        
    .header_title a{
        font-size: 16px;
    }

    .navbar ul{
        width: 100%;
    }

    .navbar_links span:nth-child(1) label{
        width: 100%;
        margin-left: 0px;
        padding-bottom: 15px;
        margin-right: 0px;
    }
    
    .navbar ul:nth-child(1) li a img{
        width: 140px;
    }

    .navbar{
        height: 65px;
        top: 3%;
    }

    .navbar_header{
        display: flex !important;
        width: 100% !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    .navbar_header li{
        width: 50% !important; 
    }

    .navbar_header li:nth-child(2){
        display: flex !important;
        justify-content: flex-end !important;
        position: relative !important;
    }

    .navbar_header li button{
        display: block;
        padding: 0 6px;
    }

    .navbar_links span button{
        display: none;
    }

    .navbar_links span:nth-child(1) label input{
        width: 88% !important;
    }

    .burgerButtonNone{
        display: none !important;
    }

    .burgerButtonAnother{
        font-size: 27px;
        margin-top: 5px;
    }

    .header_title{
        top: 51%;
    }

    .piece_card_header div h2{
        font-size: 28px;
    }

    .piece_card_header div h4{
        font-size: 19px;
    }

    .main_picture{
        width: 590px;
    }

    .main_banner{
        height: 210px;
        margin-top: 50px;
    }

    .theatre_block_content_inside_right a::before{
        width: 21%;
    }

    .theatre_block_content_inside_right a{
        font-size: 21px;
    }
}

@media screen and (max-width: 570px){

    .people_block{
        height: 500px;
    }

    .footer_right ul li{
        width: 45%;
    }
}

@media screen and (max-width: 550px){

    .swiper-slide{
        transform: translateX(0px) !important;
    }

    .header_title{
        top: 52%;
    }

    .header_title h2{
        font-size: 34px;
    }

    .burgerCloseBtn{
        right: 40px;
        top: 28px;
        font-size: 35px;
    }

    .theatre_block_content_inside_left{
        height: 210px;
    }

    .ticket_image_one{
        width: 500px;
    }

    .ticket_image_two{
        width: 300px;
        top: -30%;
        right: -5%;
    }
    
    .main_banner h2{
        font-size: 34px;
    }

    .footer_inner3 li{
        padding-left: 10px;
    }

    .people_block{
        height: 450px;
    }

    .theatre_block_content_inside_right a::before{
        width: 22%;
    }

    .burger_title span{
        margin-right: 50px;
    }
}

@media screen and (max-width: 500px){

    .swiper-button-next,
    .swiper-button-prev{
        display: none !important;
    }

    .burger_inside ul li a{
        font-size: 20px;
    }

    .burger_content img{
        width: 180px;
    }

    .burger_inside{
        flex-direction: column;
    }

    .burger_title{
        height: 22%;
        width: 100%;
    }

    .burger_inside{
        height: 78%;
    }

    .header_title{
        width: 80%;
        left: 10%;
    }

    .theatre_block_content_inside_right a::before{
        width: 23%;
    }

    .ticket_content span{
        font-size: 25px;
        width: 80%;
    }

    .ticket_content p{
        font-size: 12px;
    }

    .piece_card_header div h2{
        font-size: 26px;
    }

    .theatre_block_content_inside_right h2{
        font-size: 40px;
    }

    .people_block{
        height: 420px;
    }

    .people_block .piece_card_header{
        height: 60%;
    }

    .people_block .piece_card_content{
        height: 40%;
    }

    .pieces_block{
        height: 410px;
    }

    .people_block .piece_card:hover .piece_card_header{
        height: 75%;
        top: -15%;
    }
}

@media screen and (max-width: 480px){

    .ticket_content span{
        font-size: 23px;
    }

    .theatre_block_content_inside_left{
        height: 190px;
    }

    .theatre_block{
        height: 550px;
    }

    .main_picture{
        width: 520px;
    }

    .header_title{
        top: 53%;
    }

    .header_title h2{
        font-size: 32px;
    }

    .navbar_header li button{
        font-size: 13px;
        padding: 5px 6px ;
    }

    .burgerButtonAnother{
        margin-left: 10px;
        font-size: 23px !important; 
        padding: 0px !important;
    }

    .footer_left ul{
        width: 45%;
    }
}

@media screen and (max-width: 450px){

    .main_title{
        width: 70%;
        margin-left: 25px !important;
    }

    .main_title span::before{
        width: 60%;
    }

    .main_title span{
        width: 250px;
    }

    .places_block{
        height: 230px;
    }
    
    .theatre_block_content_inside_right a::before{
        width: 26%;
    }
        
    .main_banner h2{
        font-size: 31px;
    }

    .theatre_block_content_inside_right p{
        font-size: 13px;
    }

    .theatre_block{
        height: 530px;
    }

    .ticket_image_two{
        width: 270px;
        top: -20%;
    }

    footer{
        margin-top: 100px;
    }

    .footer_left{
        padding: 30px;
        padding-bottom: 0px;
    }

    .footer_right{
        padding: 30px 0;
        padding-bottom: 10px;
    }

    .theatre_block_image{
        width: 1250px;
    }

    .main_banner{
        height: 200px;
        margin-top: 70px;
    }

    .main_picture{
        width: 500px;
    }
}

@media screen and (max-width: 430px){

    .burger_title{
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    .burger_title span{
        margin-right: 20px;
        margin-top: 15px;
    }

    .ticket_content span{
        font-size: 21px;
    }

    .footer_left ul{
        width: 100%;
        margin-bottom: 20px;
    }

    .footer_left ul li{
        text-align: left;
        margin-bottom: 15px;
    }

    .footer_inner3 li{
        padding-left: 0px;
    }
    
    .footer_inner3 div{
        justify-content: flex-start;
    }

    .footer_right ul li a{
        font-size: 15px;
    }
        
    .theatre_block_content_inside_right a::before{
        width: 27%;
    }

    .main_picture{
        width: 450px;
    }

    .footer_inner4 li a img{
        width: 180px;
    }

    .footer_inner3 div span a img{
        width: 50px;
        height: 20px;
    }
}

@media screen and (max-width: 420px){

    .people_block{
        height: 440px;
    }
}

@media screen and (max-width: 416px){

    .navbar_links span:nth-child(1) label input{
        width: 87% !important;
    }

    .main_banner{
        height: 190px;
    }

    .main_banner h2{
        font-size: 29px;
    }

    .theatre_block_content_inside_right a::before{
        width: 28%;
    }
}

@media screen and (max-width: 400px){

    .ticket_content span{
        font-size: 20px;
    }

    .ticket_image_one{
        width: 500px;
    }

    .ticket_image_two{
        width: 250px;
        top: -15%;
    }

    .theatre_block_content_inside_right a{
        font-size: 19px;
    }

    .theatre_block_content_inside_left{
        height: 175px;
    }

    .main_picture{
        width: 430px;
    }

    .header_title h2{
        font-size: 30px;
    }

    .people_block{
        height: 480px;
    }

    .footer_inner4{
        width: 100%;
    }
}

@media screen and (max-width: 380px){

    .main_title span{
        width: 250px;
    }
    
    .main_picture{
        width: 410px;
    }
}

@media screen and (max-width: 371px){

    .ticket_content span{
        font-size: 19px;
    }
}

@media screen and (max-width: 362px){

    .pieces_block{
        height: 450px;
    }
}